
.hello {
  img {
    width: 100%;
  }
  h2 {
    font-size: 36px;
    color: $primary;
  }
  p {
    color: $bodyText;
  }
  .right {
    text-align: right;
  }
  button {
    color: $light;
    border-radius: 20px;
    padding: 8px 0;
    width: 194px;
    font-size: 18px;
    box-shadow: 0 0 3px $gray;
  }
  button:first-of-type {
    background: $primary;
  }

  button:last-of-type {
    background: $secondary;
  }
  @media (max-width: 1200px) {
    padding: 112px 0 30px 0;
  }
}
