$primary: #ff5969;
$light-primary: #db949b;
$l-primary: #fff4f0;
$light:#ffffff;
$secondary: #ffc93b;
$l-secondary: #f5f3ec;
$gray: #6a6a6a;
$m-gray: #b7b7b7;
$l-gray: #f9f9f9;
$d-gray: #333;
$orange:#ffa500;
$offwhite: #d8d4d4;
$dark-blue:#002e5d;
$transparency: rgba(0, 0, 0, 0);
$bodyText: #010101;
